VS 2012/src/MyServiceHost/MyServiceConsumer/Service References/ServiceReference1/MyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyServiceHost" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyServiceHost" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HelloWorldDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ServerTicks" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HelloWorldDto" nillable="true" type="tns:HelloWorldDto" />
</xs:schema>