VS 2012/src/MyServiceHost/MyServiceConsumer/Service References/ServiceReference1/MyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52356/MyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyServiceHost" />
  <xs:element name="Execute">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyServiceHost" minOccurs="0" name="ExecuteResult" nillable="true" type="q1:HelloWorldDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>